body{
	min-height: 100vh;
	position: relative;
}

header#header,
footer#footer{
	height: 6.5rem;
}

header img{
	height: 5.5rem;
}

header .main-navigation a{
	color: white;
	font-size: 2rem;
}

footer#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 2rem;
	text-align: right;
}

#homePresentation{
	text-align: center;
	font-size: 1.5rem;
	padding: 3rem 0;
	width: 40%;
	margin: 0 auto;
	min-width: 320px;
}

#homePresentation h1{
	margin-bottom: 2.5rem;
}


#homePresentation figure img{
	max-height: 12rem;
}
