@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qtuakc');
  src:  url('fonts/icomoon.eot?qtuakc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qtuakc') format('truetype'),
    url('fonts/icomoon.woff?qtuakc') format('woff'),
    url('fonts/icomoon.svg?qtuakc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit {
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.icon-exit:hover {
  color: white;
}

.icon-exit:before {
  content: "\ea14";
}




body{
	min-height: 100vh;
	position: relative;
}

header#header,
footer#footer{
	height: 6.5rem;
}

header img{
	height: 5.5rem;
}

header .main-navigation a{
	color: white;
	font-size: 2rem;
}

footer#footer{
	margin-top: 2.5rem;
	font-size: 2rem;
	text-align: right;
}

main{
	min-height: calc(100vh - 15.5rem)
}

main > *{
	text-align: center;
	font-size: 1.5rem;
	margin: 0 auto;
	min-width: 320px;
	padding: 3rem 0;
}

#homePresentation{
	width: 40%;
}

#article #read,
{
	width: 80%;
}

#legal{
	width: 70%;
	min-width: 320px;
	text-align: left;
}

#legal h1,
#legal h2{
	text-align: center;
}

#homePresentation h1,#homePresentation h2,
#blog h1,#blog h2,
#inscription h1,#inscription h2{

	margin: 2.5rem 0;
	text-align: center;
}



#homePresentation figure img{
	max-height: 12rem;
}

#blog,
#inscription,
#connection,
#profil {
	width: 60%;
	margin: 0 auto;
	min-width: 320px;
}

#administration{
	width: 70%;
	min-width: 30%;
}

#administration strong{
	font-size: 2rem;
}
