body{
	min-height: 100vh;
	position: relative;
}

header#header,
footer#footer{
	height: 6.5rem;
}

header img{
	height: 5.5rem;
}

header .main-navigation a{
	color: white;
	font-size: 2rem;
}

footer#footer{
	margin-top: 2.5rem;
	font-size: 2rem;
	text-align: right;
}

main{
	min-height: calc(100vh - 15.5rem)
}

#homePresentation,
#article #read{
	text-align: center;
	font-size: 1.5rem;
	margin: 0 auto;
	min-width: 320px;
	padding: 3rem 0;
}

#homePresentation{
	width: 40%;
}

#article #read{
	width: 80%;
}

#homePresentation h1{
	margin-bottom: 2.5rem;
}


#homePresentation figure img{
	max-height: 12rem;
}

#blog {
	width: 60%;
	margin: 0 auto;
	min-width: 320px;
}

#blog h1{
	text-align: center;
}

